<!-- SECCION DE "SOBRE MI" -->
<div class="contenedor">
    <section class="sobremi">
        <div class="container-fluid">
            <div class="sobremi-titulo">
                <span><i class="edit fa-regular fa-pen-to-square edit-sobre"></i></span>
                <h2>Sobre mi</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloremque quidem excepturi.
                Magnam alias.<br>orem ipsum dolor sit amet consectetur adipisicin commodi, sit incidunt vel velit
                quod, fugit totam fuga ipsa<br>repudiandae omnis esse. Minus, reiciendis incidunt.</p>
            </div>
        </div>
    </section>
</div>
