<div class="main">
<!-- BARRA LATERAL CON LA INFORMACION PERSONAL Y BARRAR DE NAVEGACION -->
    <div class="info">
        <div class="logo">
            <img src="assets/img/AP2.png" alt="logo">
            <h2>Argentina Programa <br> #Yo Programo</h2>
        </div>
        <div class="perfil">
            <img src="assets/img/icon.png" alt="">
            <span><i class="edit fa-regular fa-pen-to-square edit-perfil"></i></span>
            <h1>Thomas Hudson</h1>
            <p>FullStack Developer Jr.</p>
        </div>
        <div class="social">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="nav-bar">
            <ul class="nav-list">
                <li><a href="#"><i class='bx bx-home'></i>Inicio</a></li>
                <li><a href="#"><i class='bx bx-user'></i>Acerca</a></li>
                <li><a href="#"><i class='bx bx-bar-chart-alt'></i>Habilidades</a></li>
                <li><a href="#"><i class='bx bx-notepad'></i>Proyectos</a></li>
                <li><a href="#"><i class='bx bx-envelope'></i>Contacto</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-success">Login</button>
    </div>

    <!-- PARTE DEL BANNEAR PRINCIPAL CON UN TEXTO -->

    <div class="banner">
        <span><i class="edit fa-regular fa-pen-to-square edit-banner"></i></span>
        <div class="banner-titulo">
            <h1>Thom Hudson</h1>
            <p>Desarrollador Web FullStack</p>
        </div>
    </div>
</div>

