<section class="edu-exp">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <span><i class="bi bi-plus-circle edit-edu-exp"></i></span>
                <h2>Educacion</h2>

                <div class="educacion-exp">
                    <div class="botones-edit">
                        <span><i class="edit bi bi-pencil-square"></i></span>
                        <span><i class="bi bi-trash3"></i></span>
                    </div>
                    <div class="ed">
                        <h3>Desarrollo Web FullStack</h3>
                        <h5>2021 - 2022</h5>
                        <h4>Argentina Programa</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores aperiam vero
                            voluptate, fugiat sapiente earum ipsum perspiciatis tenetur illum nemo quidem rerum
                            optio praesentium voluptatum? Quam in molestias quos.</p>
                    </div>
                </div>

                <hr>
                <div class="educacion-exp">
                    <div class="botones-edit">
                        <span><i class="edit bi bi-pencil-square"></i></span>
                        <span><i class="bi bi-trash3"></i></span>
                    </div>
                    <div class="ed">
                        <h3>Desarrollo Web FullStack</h3>
                        <h5>2021 - 2022</h5>
                        <h4>Argentina Programa</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores aperiam vero
                            voluptate, fugiat sapiente earum ipsum perspiciatis tenetur illum nemo quidem rerum
                            optio praesentium voluptatum? Quam in molestias quos.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <span><i class="bi bi-plus-circle edit-edu-exp"></i></span>
                <h2>Experiencia Laboral</h2>
                
                <div class="educacion-exp">
                    <div class="botones-edit">
                        <span><i class="edit bi bi-pencil-square"></i></span>
                        <span><i class="bi bi-trash3"></i></span>
                    </div>
                    <div class="exp">
                        <h3>Desarrollo Web FullStack</h3>
                        <h5>2021 - 2022</h5>
                        <h4>Argentina Programa</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores aperiam vero
                            voluptate, fugiat sapiente earum ipsum perspiciatis tenetur illum nemo quidem rerum
                            optio praesentium voluptatum? Quam in molestias quos.</p>
                    </div>
                </div>

                <hr>
                <div class="educacion-exp">
                    <div class="botones-edit">
                        <span><i class="edit bi bi-pencil-square"></i></span>
                        <span><i class="bi bi-trash3"></i></span>
                    </div>
                    <div class="exp">
                        <h3>Desarrollo Web FullStack</h3>
                        <h5>2021 - 2022</h5>
                        <h4>Argentina Programa</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia maiores aperiam vero
                            voluptate, fugiat sapiente earum ipsum perspiciatis tenetur illum nemo quidem rerum
                            optio praesentium voluptatum? Quam in molestias quos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
