<section class="proyecto">
    <div class="container-fluid">
        <div class="proyecto-titulo">
            <h2>Mis Proyectos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cum obcaecati eum iusto.
                Officiis, possimus blanditiis aut architecto corporis repudiandae itaque facilis soluta deleniti
                beatae totam dolore, est voluptatem neque!</p>
        </div>
        <div class="row row-cols-1 row-cols-md-2 proyecto-contenido">
            <div class="col">
                <div class="tarjetas">
                    <div class="botones-edit-proyects">
                        <span><i class="edit bi bi-pencil-square"></i></span>
                        <span><i class="bi bi-trash3"></i></span>
                    </div>
                    <img src="/assets/img/html-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6>Fecha de creacion</h6>
                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <a class="btn btn-primary" href="#" role="button">Ver Mas</a>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="tarjetas">
                    <div class="botones-edit-proyects">
                        <span><i class="edit bi bi-pencil-square"></i></span>
                        <span><i class="bi bi-trash3"></i></span>
                    </div>
                    <img src="/assets/img/html-logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6>Fecha de creacion</h6>
                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <a class="btn btn-primary" href="#" role="button">Ver Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

